.add-todo-form {
display: flex;
gap: 10px;
margin-bottom: 20px;
}
.todo-input {
flex: 1;
padding: 10px;
margin-left: 40px;
border: 2px solid #ddd;
border-radius: 50px;
font-size: 16px;
box-shadow:2px 2px;
}
.todo-input:focus {
outline: none;
border-color: #3498db;
}
.add-btn {
padding: 10px 20px;
background-color: #3498db;
color: #f9f9f9;
border: none;
border-radius: 50px;
cursor: pointer;
font-size: 16px;
}
.add-btn:hover {
background-color: #2980b9;
}
.priority-select{
text-align: center;
align-items: center;
border-radius: 50px;
padding:10px;
font-size: 16px;
background-color:white ;
border: none;

}
.dueDate{
align-items: center;
border: none;
border-radius: 50px;
padding: 10px;
font-size: 16px;
}